$cor-primaria: #8E2424;
$cor-secundaria: #101828;
$cor-terciaria: #667085;

$cor-stroke: #D0D5DD;
$cor-stroke2: #EAECF0;

$background-color-primaria: rgba(98, 12, 12, 0.03);
$background-color-secundario: #F9FAFB;
$background-color-terciaria: #FFFFFF;

